<a href="https://colab.research.google.com/github/WildanBudiawanZ/pembelajaran-mesin/blob/main/Pertemuan%2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ANN

https://www.analyticsvidhya.com/blog/2021/10/implementing-artificial-neural-networkclassification-in-python-from-scratch/

In [46]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [47]:
url = 'https://github.com/WildanBudiawanZ/pembelajaran-mesin/raw/main/Churn_Modelling.csv'
data = pd.read_csv(url, sep=',')

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [48]:
#Generating Matrix of Features
X = data.iloc[:,3:-1].values

#Generating Dependent Variable Vectors
Y = data.iloc[:,-1].values

In [49]:
X.shape

(10000, 10)

In [50]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [51]:
#Encoding Categorical Variable Gender

from sklearn.preprocessing import LabelEncoder
LE1 = LabelEncoder()

X[:,2] = np.array(LE1.fit_transform(X[:,2]))

print(LE1)

LabelEncoder()

In [52]:
X.shape

(10000, 10)

In [53]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

In [54]:
#Encoding Categorical variable Geography

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct =ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder="passthrough")
X = np.array(ct.fit_transform(X))

In [55]:
X.shape

(10000, 12)

In [56]:
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [57]:
#Splitting dataset into training and testing dataset
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [58]:
#Performing Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [59]:
#Initialising ANN
ann = tf.keras.models.Sequential()

#Adding First Hidden Layer
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

#Adding Second Hidden Layer
ann.add(tf.keras.layers.Dense(units=6,activation="relu"))

#Adding Output Layer
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

#Compiling ANN
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=['accuracy'])

In [60]:
#Fitting ANN
ann.fit(X_train,Y_train,batch_size=32,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5567 - accuracy: 0.7935
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4772 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4509 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4354 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4247 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4170 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4106 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4054 - accuracy: 0.8021
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4006 - accuracy: 0.8238
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8250
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3922 - accuracy: 0.8260
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3879 - accuracy: 0.8261
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3833 - accuracy: 0.8345
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3785 - accuracy: 0.8418
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3742 - accuracy: 0.8439
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3707 - accuracy: 0.8461
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3671 - accuracy: 0.8487
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3641 - accuracy: 0.8508
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3614 - accuracy: 0.8533
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8547
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3569 - accuracy: 0.8559
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3550 - accuracy: 0.8577
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3537 - accuracy: 0.8569
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8579
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3508 - accuracy: 0.8601
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3500 - accuracy: 0.8581
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3489 - accuracy: 0.8596
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8596
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3472 - accuracy: 0.8591
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8606
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3460 - accuracy: 0.8604
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3449 - accuracy: 0.8605
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8599
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3438 - accuracy: 0.8597
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3434 - accuracy: 0.8614
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8601
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3425 - accuracy: 0.8612
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3418 - accuracy: 0.8616
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3415 - accuracy: 0.8616
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3412 - accuracy: 0.8619
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3406 - accuracy: 0.8625
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8627
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8614
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8624
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8627
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8633
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8619
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8619
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8616
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8618
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3375 - accuracy: 0.8633
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8626
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8637
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8621
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8606
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8625
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8624
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8605
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8630
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8634
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8626
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8625
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8631
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8631
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3351 - accuracy: 0.8624
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8631
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8631
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8633
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8625
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8630
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8624
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8643
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8629
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8635
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8614
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8637
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8627
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8639
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3340 - accuracy: 0.8641
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8641
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8630
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8633
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8643
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8625
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8637
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8656
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8629
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8637
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8630
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8634
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8630
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8652
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8652
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8648
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8640
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8631

# SVM

In [61]:
url = 'https://github.com/WildanBudiawanZ/pembelajaran-mesin/raw/main/diabetes.csv'
df = pd.read_csv(url, sep=',')

df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [63]:
# set independent variable/attribute/predictor/feature
X = df[df.columns[:8]]
 
# set dependent variable/clas/target/label
y = df['Outcome']

In [64]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [65]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [66]:
from sklearn.preprocessing import StandardScaler
 
# standarisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [67]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [68]:
from sklearn.model_selection import train_test_split
 
# memisahkan data untuk training dan testing
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [69]:
from sklearn.svm import SVC
 
# membuat objek SVC dan memanggil fungsi fit untuk melatih model
clf = SVC(kernel='rbf')
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [70]:
# Menampilkan skor akurasi prediksi
clf.score(X_test, y_test)

0.7559055118110236

In [71]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.85      0.82       168
           1       0.66      0.58      0.62        86

    accuracy                           0.76       254
   macro avg       0.73      0.71      0.72       254
weighted avg       0.75      0.76      0.75       254